<div class="about-us">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="about-img">
          <img
            src="https://cdn.britannica.com/92/216092-050-4B31C2B7/custom-library.jpg?q=60"
            class="img-fluid"
            alt=""
          />
        </div>
      </div>
      <div class="col-md-6">
        <div class="about-content">
          <div class="about-sub-heading">
            <h2>ShopBridge</h2>
          </div>
          <h2>
            Lorem ipsum dolor <br />
            sit amet.
          </h2>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illo, unde
            odio ab eveniet quas perspiciatis assumenda dolores ad ut qui
            distinctio, quaerat rerum inventore quod, porro vel soluta quibusdam
            delectus.
          </p>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="about-sub">
              <h6 class="align-check">
                <mat-icon color="primary">verified</mat-icon>Lorem ipsum dolor
                sit amet.
              </h6>
              <h6 class="align-check">
                <mat-icon color="primary">verified</mat-icon> Lorem ipsum dolor
                sit amet.
              </h6>
              <h6 class="align-check">
                <mat-icon color="primary">verified</mat-icon> Lorem ipsum dolor
                sit amet.
              </h6>
            </div>
          </div>
          <div class="col-md-6">
            <div class="about-sub">
              <h6 class="align-check">
                <mat-icon color="primary">verified</mat-icon> Lorem ipsum dolor
                sit amet.
              </h6>
              <h6 class="align-check">
                <mat-icon color="primary">verified</mat-icon> Lorem ipsum dolor
                sit amet.
              </h6>
              <h6 class="align-check">
                <mat-icon color="primary">verified</mat-icon> Lorem ipsum dolor
                sit amet.
              </h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
