<div class="container mt-5">
  <div class="row">
    <div class="text-center">
      <h1>Privacy Policy</h1>
      <p>
        "Neque porro quisquam est qui dolorem ipsum quia dolor sit amet,
        consectetur, adipisci velit..."
      </p>
      <p>
        "There is no one who loves pain itself, who seeks after it and wants to
        have it, simply because it is pain..."
      </p>
    </div>
    <div class="card">
      <div class="card-body">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam luctus in
          leo ut tincidunt. Etiam ac arcu diam. Proin nec dapibus dolor, non
          egestas tellus. Donec quis enim ex. Cras est erat, sodales quis orci
          scelerisque, efficitur hendrerit sem. Nunc viverra condimentum diam in
          lacinia. Integer eget odio eget felis semper pellentesque. Praesent at
          orci in lacus gravida iaculis sollicitudin eget arcu. Fusce congue
          pulvinar nulla, et posuere eros bibendum auctor. Aenean imperdiet nisi
          vel urna tempor, nec gravida odio eleifend. Orci varius natoque
          penatibus et magnis dis parturient montes, nascetur ridiculus mus.
          Vestibulum molestie, nunc nec rutrum varius, elit eros vulputate orci,
          in pharetra quam nisi vehicula diam.
        </p>

        <p>
          Quisque ornare fermentum egestas. Quisque eros velit, imperdiet
          placerat risus non, feugiat rutrum ante. Sed quis porta leo, et
          venenatis ipsum. Ut sollicitudin gravida justo. Proin vestibulum eget
          felis fermentum fermentum. Vestibulum iaculis leo vitae ipsum
          suscipit, ut pretium tellus tristique. Cras pulvinar condimentum
          purus, et fermentum massa accumsan in. Phasellus consectetur dictum
          leo id luctus. Morbi id gravida mauris, sed iaculis dolor. Suspendisse
          non dignissim ante. Sed vehicula mattis purus at placerat.
        </p>

        <p>
          Integer porta, risus nec feugiat auctor, libero quam hendrerit lorem,
          vitae scelerisque nisl diam in eros. Curabitur lorem velit, malesuada
          eget nibh vitae, pulvinar mattis sem. Pellentesque sodales lectus a
          porta laoreet. Nam sed condimentum eros, non consectetur mauris. In
          non lacus et ante rutrum suscipit. Curabitur et aliquet turpis, sit
          amet blandit augue. Aenean vitae libero augue. Maecenas bibendum
          feugiat ullamcorper. Fusce iaculis viverra accumsan. Suspendisse justo
          magna, fringilla a euismod a, tristique a lorem. In magna lacus,
          bibendum vel aliquam ac, fermentum sed ligula. Orci varius natoque
          penatibus et magnis dis parturient montes, nascetur ridiculus mus.
          Quisque non ultricies tortor. Aenean porttitor est a convallis
          elementum. Suspendisse lacinia turpis et lacinia vulputate.
        </p>

        <p>
          Morbi vitae maximus neque. Cras et est ligula. In dapibus, quam nec
          elementum tincidunt, orci augue imperdiet sem, vel blandit velit metus
          eu diam. Mauris tempor elit vitae mauris fringilla maximus. Nullam
          tincidunt, quam vitae dapibus posuere, ipsum nisi pretium justo, in
          aliquet arcu ex eu lorem. Cras fringilla ipsum et est cursus, sed
          eleifend ex maximus. Donec fringilla sed eros in elementum. Duis sit
          amet metus interdum, gravida ante nec, lobortis lorem. Aenean nec
          felis vulputate sem laoreet ornare sit amet in augue. Morbi luctus sem
          nec mi suscipit, vel condimentum nibh euismod. Sed consequat arcu ac
          purus feugiat laoreet. Integer vitae quam enim. Donec quis eros dui.
          Aenean porta eget odio vel cursus.
        </p>

        <p>
          Praesent sit amet aliquam urna, et malesuada odio. Nulla eu sodales
          risus. Donec a porttitor nisi. Curabitur hendrerit est at fringilla
          porta. Nunc nec nunc est. Nulla convallis tristique pharetra. Nullam
          sagittis leo at dapibus facilisis. Cras nec massa sit amet odio porta
          sagittis. Sed ante erat, cursus nec quam in, pharetra finibus nulla.
          Quisque in faucibus velit. Vivamus vestibulum mi magna. Aenean ut
          tristique dui, cursus ultrices justo. Integer id magna nec metus
          sollicitudin dignissim. Aliquam lorem est, pellentesque ut luctus at,
          blandit vel nulla. Nam a elit in purus scelerisque vulputate vel vel
          sem. Nulla id bibendum elit.
        </p>

        <p>
          In gravida tellus vitae ligula tempus, eu placerat orci tincidunt. Ut
          varius, ipsum eu porta feugiat, felis turpis sollicitudin diam, a
          consequat risus orci eget sapien. Pellentesque habitant morbi
          tristique senectus et netus et malesuada fames ac turpis egestas.
          Suspendisse lectus ligula, pharetra et arcu a, sodales ornare ligula.
          Cras et efficitur felis. Quisque bibendum tincidunt est sit amet
          accumsan. Nulla vehicula ultrices urna eu hendrerit. Vivamus
          sollicitudin porttitor odio nec consectetur. Duis nec urna id nisi
          pellentesque placerat sed ut mi. Suspendisse eget nunc nisi. Nullam
          non quam non neque euismod ultricies. Sed tristique, lorem eu posuere
          maximus, odio libero feugiat risus, in laoreet eros ante scelerisque
          est.
        </p>

        <p>
          Quisque interdum sed lectus a ultricies. Sed turpis eros, tincidunt a
          luctus eget, molestie a dolor. Proin consequat, metus id interdum
          vulputate, ipsum tellus pretium mauris, at mollis mi tortor id lorem.
          Fusce et finibus eros, vel fringilla tellus. Etiam non mauris ut dui
          suscipit maximus. Vestibulum eget hendrerit metus. Proin aliquet
          faucibus pretium. Mauris ullamcorper diam at euismod scelerisque.
          Donec in quam metus. Aenean at cursus enim. Maecenas semper massa ac
          lacus rutrum, at semper leo suscipit. Nullam mauris nunc, porta vitae
          eleifend feugiat, sollicitudin ut eros. Donec dapibus tortor nec arcu
          venenatis, ut pretium justo aliquet. Proin consequat, enim sed
          tincidunt molestie, est lectus dictum sapien, nec molestie libero quam
          quis dui.
        </p>

        <p>
          Aliquam erat volutpat. Vestibulum pharetra commodo tortor vitae
          ultricies. Morbi condimentum sit amet nisl sit amet laoreet. Interdum
          et malesuada fames ac ante ipsum primis in faucibus. Sed molestie eget
          lectus sit amet gravida. Proin finibus eu ante quis tempor. Integer
          egestas, quam eget rutrum volutpat, dui nunc suscipit est, at iaculis
          magna arcu eu elit. Suspendisse vulputate non eros eget efficitur.
        </p>

        <p>
          In molestie in ex at vulputate. Ut gravida aliquam nibh, vestibulum
          tristique est. Aliquam erat volutpat. Suspendisse et est ac tortor
          commodo rhoncus rutrum mattis orci. Suspendisse tincidunt aliquet
          rhoncus. Maecenas volutpat erat lacus, nec pretium leo aliquam nec.
          Pellentesque enim est, egestas non metus viverra, facilisis mattis
          risus. Donec semper tempus ultrices. Fusce in nisi velit. Praesent
          consequat sagittis est, eu efficitur diam pellentesque eget. Sed
          posuere aliquet erat id vestibulum. Suspendisse a odio orci. Vivamus
          quis suscipit nibh.
        </p>

        <p>
          Sed sed velit aliquam, fermentum lorem et, accumsan nisl. Vestibulum
          nec mollis mi. Proin tempor pulvinar nisl, id aliquam mi elementum sit
          amet. Morbi vestibulum semper purus quis elementum. Phasellus
          ullamcorper, nisl non scelerisque facilisis, sapien elit commodo dui,
          at tincidunt est purus eu ex. Praesent orci dui, blandit a lectus
          quis, luctus euismod enim. Duis a ante vel dolor rutrum blandit eu nec
          nulla.
        </p>
      </div>
    </div>
  </div>
</div>
